h3 {
  font-size: 24px;
  line-height: 2em;
  color: #404040;
  font-weight: normal;
  letter-spacing: -1px;
}

#container-list_catalog {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

#elt-list_catalog {
  width: 22%;
  margin: 10px;
}
#img-container {
}
img {
  width: 100%;
}

#title {
  color: #7f7f7f;
  font-size: 13px;
}
#description {
  color: #7f7f7f;
  font-size: 13px;
}
#price {
}
